<div class="header">
  <th:block th:replace="usr/common/head"/>
</div>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <title>PetdiaryWrite</title>
  <link rel="stylesheet" href="/resource/css/diary/DiaryModify.css">
</head>

<body>
<div class="tw-h-[60px]"></div>
<div class="tw-text-center tw-text-[50px] tw-p-[20px] tw-border-b-2 tw-border-[#DADADA] tw-max-w-[1440px] tw-mx-auto">
  반려견 성장일지 수정
</div>

<form th:action="@{/usr/diary/modify(id=${diary.id})}" class="tw-pt-16" method="post" enctype="multipart/form-data">
  <input type="hidden" name="memberId" value="1">

  <div class="tw-flex tw-items-center tw-justify-center">
    <label for="title"></label>
    <input type="text" id="title" name="title" placeholder="제목을 입력해주세요." th:value="${diary.title}" class="input-hidden"/>
  </div>

  <div class="upload-container tw-text-center tw-mb-6">
    <div class="preview">
      <div id="uploadContent" class="tw-text-center tw-flex tw-flex-col tw-items-center tw-justify-center tw-w-full tw-h-full">
        <button type="button" id="fileBtn" class="tw-text-white tw-px-4 tw-py-2 tw-rounded-lg tw-mb-2">이미지 업로드</button>
        <p class="fileInput-text tw-text-gray-500 tw-text-xl tw-font-bold">또는 파일 놓기.</p>
        <input type="file" name="file" id="fileInput" accept="image/*" class="hidden" />
      </div>
      <img id="imagePreview" class="tw-absolute tw-inset-0 hidden tw-w-full tw-h-full tw-object-cover" alt="Image Preview"/>
      <button type="button" id="removeImageBtn" class="tw-absolute tw-mt-4 tw-right-5 tw-bg-[#FF6F61] tw-text-white tw-font-bold tw-px-4 tw-py-2 tw-rounded-lg tw-transition-colors tw-duration-300 tw-ease-in-out tw-border-none tw-cursor-pointer hidden">지우기</button>
    </div>
    <input type="hidden" id="diaryImagePath" th:value="${diary.imagePath}">
    <script src="/resource/js/diary/DiaryModify.js"></script>
  </div>

  <div class="textarea-container">
    <textarea name="body" id="body" placeholder="내용을 입력하세요" class="tw-w-full tw-p-4 tw-border tw-bg-white tw-border-gray-300 tw-rounded-lg tw-mb-6 tw-text-center" rows="10" required th:text="${diary.body}"></textarea>
  </div>

  <nav class="medicine">
    <h2 id="medicineTitle" class="tw-mb-3 tw-text-3xl tw-font-bold">복용약 정보</h2>

    <hr>

    <div>
      <label for="startDate">복용 시작일</label>
      <input class="tw-bg-white" type="date" name="startDate" id="startDate" th:value="${diary.startDate}">
    </div>
    <div>
      <label for="endDate">복용 종료일</label>
      <input class="tw-bg-white" type="date" name="endDate" id="endDate" th:value="${diary.endDate}">
    </div>
    <div>
      <label for="TakingTime">복용 시간</label>
      <input class="tw-bg-white" type="time" name="takingTime" id="TakingTime" th:value="${diary.takingTime}">
    </div>

    <div>
      <label for="information">복용약 정보 및 특이사항</label>
      <textarea id="information" placeholder="복용약 정보 및 특이사항" name="information" class="tw-w-full tw-p-4 tw-bg-white tw-border tw-border-gray-300 tw-rounded-lg tw-mb-6 tw-text-center" rows="10" required th:text="${diary.information}"></textarea>
    </div>

    <div class="button">
      <button id="SubmitButton" type="submit">수정</button>
      <a th:href="@{/usr/diary/detail(id=${diary.id})}" class="historyBack">뒤로가기</a>
    </div>
  </nav>
</form>

</body>
</html>
